[auto-appstream]
name = CentOS {{ centos_version }} Stream Automotive (AppStream)
baseurl = {{ baseurl_prefix }}/{{ centos_version }}/AppStream/{{ arch }}/os/
enabled = 1
gpgcheck = 0

[auto-baseos]
name = CentOS {{ centos_version }} Stream Automotive (BaseOS)
baseurl = {{ baseurl_prefix }}/{{ centos_version }}/BaseOS/{{ arch }}/os/
enabled = 1
gpgcheck = 0

[auto-extras]
name = CentOS {{ centos_version }} Stream Automotive (extras)
baseurl = {{ baseurl_prefix }}/{{ centos_version }}/extras/{{ arch }}/os/
enabled = 1
gpgcheck = 0
